---
layout: layouts/meeting.njk
title: "May 14, 2012 \u2014 School Board Meeting \u2014 SPSD"
heading: May Regular Meeting
breadcrumb: May 14, 2012
display_date: May 14, 2012
day_of_week: Monday
meeting_tag: "Regular Meeting \xB7 May 2012"
time: 6:00 PM
location: South Portland High School Lecture Hall
has_video: false
video_url: ''
has_vtt_source: false
has_transcript: false
stub: true
board_attendance: []
docs:
- type: pdf
  label: Special.5.14.12
  url: https://drive.google.com/file/d/0B42s0chw8f_lckprMUFhSWc2UXc/view?usp=drivesdk&resourcekey=0-dKqPDZOnrEmkIO5cfAC80g
- type: min
  label: Special 5.14.12_Minutes
  url: https://drive.google.com/file/d/0B42s0chw8f_lbGgtTjZBV1lKSzQ/view?usp=drivesdk&resourcekey=0-5CRJqTTDYPfeHrBJ4H3J2g
- type: min
  label: 5.14.12_Minutes
  url: https://drive.google.com/file/d/0B42s0chw8f_lbHVtUWViUjhZZVE/view?usp=drivesdk&resourcekey=0-eOarAF0Li69yRgqQgNcnCw
- type: agenda
  label: 5.14.12_agenda
  url: https://drive.google.com/file/d/0B42s0chw8f_lQ1M3ZDBGajNXZlk/view?usp=drivesdk&resourcekey=0-xtjoLktboUdVlos2YqDMEw
---
