---
layout: layouts/meeting.njk
title: "June 11, 2012 \u2014 School Board Meeting \u2014 SPSD"
heading: Special Meeting
breadcrumb: Jun 11, 2012
display_date: June 11, 2012
day_of_week: Monday
meeting_tag: "Special Meeting \xB7 June 2012"
time: 6:00 PM
location: South Portland High School Lecture Hall
has_video: false
video_url: ''
has_vtt_source: false
has_transcript: false
stub: true
board_attendance: []
docs:
- type: agenda
  label: 6.11.12 Special Agenda_0
  url: https://drive.google.com/file/d/0B42s0chw8f_leHFFSmtNNzEybTQ/view?usp=drivesdk&resourcekey=0-BzhT1ArNl1jtw6LzO_MFUQ
- type: agenda
  label: 6.11.12 Agenda
  url: https://drive.google.com/file/d/0B42s0chw8f_lSjFZVU1oYXR3NW8/view?usp=drivesdk&resourcekey=0-3ZD13iok-UfD5pCM3C4XAA
---
