---
layout: layouts/meeting.njk
title: "April 25, 2012 \u2014 School Board Meeting \u2014 SPSD"
heading: April Regular Meeting
breadcrumb: Apr 25, 2012
display_date: April 25, 2012
day_of_week: Wednesday
meeting_tag: "Regular Meeting \xB7 April 2012"
time: 6:00 PM
location: South Portland High School Lecture Hall
has_video: false
video_url: ''
has_vtt_source: false
has_transcript: false
stub: true
board_attendance: []
docs:
- type: pdf
  label: Workshop.04.25.12
  url: https://drive.google.com/file/d/0B42s0chw8f_lVlI2WUx5bk1veWs/view?usp=drivesdk&resourcekey=0-JgJLMy1ZKVa12QmCB20jqQ
- type: min
  label: Special_Minutes_4.25.12
  url: https://drive.google.com/file/d/0B42s0chw8f_lVktkNmh0ajZKZkk/view?usp=drivesdk&resourcekey=0-Mulx-uWBEzRW-kYP1QSM6g
- type: pdf
  label: Special.4.25.12-1
  url: https://drive.google.com/file/d/0B42s0chw8f_lMkxyci1YVGtYTm8/view?usp=drivesdk&resourcekey=0-DkEYwtflhHLEchO0dZDI6g
---
