---
layout: layouts/meeting.njk
title: "September 3, 2013 \u2014 School Board Meeting \u2014 SPSD"
heading: Special Meeting
breadcrumb: Sep 3, 2013
display_date: September 3, 2013
day_of_week: Tuesday
meeting_tag: "Special Meeting \xB7 September 2013"
time: 6:00 PM
location: South Portland High School Lecture Hall
has_video: false
video_url: ''
has_vtt_source: false
has_transcript: false
stub: true
board_attendance: []
docs:
- type: agenda
  label: 9.3.13 Special Board Agenda
  url: https://drive.google.com/file/d/0B42s0chw8f_leTJ2NHBxMDJ1RUU/view?usp=drivesdk&resourcekey=0-LxcRRKEPe0vq0F1RdrZxvw
- type: pdf
  label: Technology Bid Pricing Sheet 9.3.13
  url: https://drive.google.com/file/d/0B42s0chw8f_lcVJCTnBlcmVoY00/view?usp=drivesdk&resourcekey=0-gx1dNo6LawyrmVbeuXRcNw
- type: pdf
  label: Furniture Bid Memo 9.3.13
  url: https://drive.google.com/file/d/0B42s0chw8f_lUHdkVkVXaWl0T2c/view?usp=drivesdk&resourcekey=0-9ZwWJDcUDEq7K9Qdt2tkoA
- type: pdf
  label: Award pf Bid Classroom Technology 9.3.13
  url: https://drive.google.com/file/d/0B42s0chw8f_lTGJ0bVZzWDRjN0E/view?usp=drivesdk&resourcekey=0-Lr_07Amjkz2JL4gP6nXUiQ
- type: pdf
  label: Gate Revenue Letter 9.3.13
  url: https://drive.google.com/file/d/0B42s0chw8f_lRU1wM1dFSzEycTg/view?usp=drivesdk&resourcekey=0-URmQ76wQXITSv41-oCLVVQ
- type: pdf
  label: Furniture Bid Pricing Sheet 9.3.13
  url: https://drive.google.com/file/d/0B42s0chw8f_lMUtva3VueWtkbjg/view?usp=drivesdk&resourcekey=0-aHW2B5ul56Sv-sAeP4m6yA
- type: min
  label: Special Board Minutes 9.3.13
  url: https://drive.google.com/file/d/0B42s0chw8f_ldy1mVE1hcXV3Njg/view?usp=drivesdk&resourcekey=0-oWLHVWzlAZQt9j9gfN_XCA
---
