---
layout: layouts/meeting.njk
title: "November 13, 2013 \u2014 School Board Meeting \u2014 SPSD"
heading: November Regular Meeting
breadcrumb: Nov 13, 2013
display_date: November 13, 2013
day_of_week: Wednesday
meeting_tag: "Regular Meeting \xB7 November 2013"
time: 6:00 PM
location: South Portland High School Lecture Hall
has_video: false
video_url: ''
has_vtt_source: false
has_transcript: false
stub: true
board_attendance: []
docs:
- type: pdf
  label: Oct. 2013 Building & Grounds Report 11.13.13
  url: https://drive.google.com/file/d/0B42s0chw8f_la05lNDdydjA2RHM/view?usp=drivesdk&resourcekey=0-781QBmCbdhVhk8VQjjHcRA
- type: pdf
  label: October 2013 Financial Report 11.13.13
  url: https://drive.google.com/file/d/0B42s0chw8f_lWkdBQmdyODllZm8/view?usp=drivesdk&resourcekey=0-ZLXEcmZGh9mKjOKFQOtQaw
- type: pdf
  label: Proficiency-based Learning Committee Memo 11.13.13
  url: https://drive.google.com/file/d/0B42s0chw8f_lNmVISHhhZEZNYkE/view?usp=drivesdk&resourcekey=0-8MetlaUkwnTwoP4nq1MJqw
- type: pdf
  label: October 2013 Expenditure Comments 11.13.13
  url: https://drive.google.com/file/d/0B42s0chw8f_lV1F0di1ZX09qZEE/view?usp=drivesdk&resourcekey=0-aqIbDeY3L1Fk9lv89ypU5w
- type: pdf
  label: New Staff for Board 11.13.13
  url: https://drive.google.com/file/d/0B42s0chw8f_lMlBGalpwVFZCYkk/view?usp=drivesdk&resourcekey=0-ho8sTHGvCvRb6aPuJxBctg
- type: pdf
  label: Lecture Hall Video Bid Award 11.13.13
  url: https://drive.google.com/file/d/0B42s0chw8f_lU28wZm1XTXRDYVk/view?usp=drivesdk&resourcekey=0-bpx4ZJdiUmNrbopr-oY93Q
- type: agenda
  label: Board Agenda 11.13.13
  url: https://drive.google.com/file/d/0B42s0chw8f_ldFg3Q2d3cVpyZWM/view?usp=drivesdk&resourcekey=0-OdkORoADSFeu8yt4btZ9XA
- type: pdf
  label: Donations 11.13.13
  url: https://drive.google.com/file/d/0B42s0chw8f_lQTUydGZDVEduZ1E/view?usp=drivesdk&resourcekey=0-zRM_ek2A8VIyipJ8v0k0kQ
- type: pdf
  label: LAU Plan 11.13.13
  url: https://drive.google.com/file/d/0B42s0chw8f_lNXZ5eDN1NHU1UzQ/view?usp=drivesdk&resourcekey=0-F3GhY2v8YLsEcRVS0ZVrbA
- type: min
  label: 11.13.13 Board Minutes
  url: https://drive.google.com/file/d/0B42s0chw8f_lb3EtM3M4NjhRYjQ/view?usp=drivesdk&resourcekey=0-gwWDYvkCD4dPzXyLfT14LQ
---
