---
layout: layouts/meeting.njk
title: "December 9, 2013 \u2014 School Board Meeting \u2014 SPSD"
heading: December Regular Meeting
breadcrumb: Dec 9, 2013
display_date: December 9, 2013
day_of_week: Monday
meeting_tag: "Regular Meeting \xB7 December 2013"
time: 6:00 PM
location: South Portland High School Lecture Hall
has_video: false
video_url: ''
has_vtt_source: false
has_transcript: false
stub: true
board_attendance: []
docs:
- type: min
  label: 12.9.13 Board Minutes
  url: https://drive.google.com/file/d/0B42s0chw8f_lVGNQcDVnTTNCSU0/view?usp=drivesdk&resourcekey=0-WQcFfn8WSkr3N3nKJfzwvg
- type: pdf
  label: November 2013 Expenditure Comments 12.9.13
  url: https://drive.google.com/file/d/0B42s0chw8f_lTHVRZ3J4d2NiOXM/view?usp=drivesdk&resourcekey=0--tBkYVH9uu6T9TkrPwpIUA
- type: pdf
  label: November 2013 Building & Grounds Report 12.9.13
  url: https://drive.google.com/file/d/0B42s0chw8f_lVTg3eTFMelVYSFU/view?usp=drivesdk&resourcekey=0-RDP53rWk-93DFKuk7VIGSA
- type: pdf
  label: PCB Remediation Bid 16-14 Recommendation FINAL 12.9.13
  url: https://drive.google.com/file/d/0B42s0chw8f_lVnh3UktCMUFZSG8/view?usp=drivesdk&resourcekey=0-LynGzz5n9BcKXxlFnXJ-rQ
- type: pdf
  label: Donations 12.9.13
  url: https://drive.google.com/file/d/0B42s0chw8f_lbHotRVB5TDZweDg/view?usp=drivesdk&resourcekey=0-HnxmnswVWG-oZ8byFbSGRQ
- type: pdf
  label: BBFB Nepotism First Reading 12.9.13
  url: https://drive.google.com/file/d/0B42s0chw8f_ld21nYm1CYmFZeTg/view?usp=drivesdk&resourcekey=0-tVe98ux26ECgx19-aO7Hcg
- type: pdf
  label: Board Budget Adjustment 12.9.13
  url: https://drive.google.com/file/d/0B42s0chw8f_lbXlGVFl2WE0xYkE/view?usp=drivesdk&resourcekey=0-cmghbBCBV5Cz-hgfPmwuuw
- type: pdf
  label: BCB Board Member Conflict of Interest First Reading 12.9.13
  url: https://drive.google.com/file/d/0B42s0chw8f_lZVBXd29SaHhlc0U/view?usp=drivesdk&resourcekey=0-U-JSddff5wFd1n9Yfa2GbA
- type: agenda
  label: BOARD AGENDA 12.9.13
  url: https://drive.google.com/file/d/0B42s0chw8f_lU1BQc2REc2VNam8/view?usp=drivesdk&resourcekey=0-mrZ1g1uZ31DZKuQgL0l4qw
- type: pdf
  label: BCA School Board Member Ethics Review 12.9.13
  url: https://drive.google.com/file/d/0B42s0chw8f_lOF9ZYi1LbkRqTW8/view?usp=drivesdk&resourcekey=0-bcq1CfvG7YMwam2zjwrS9Q
- type: pdf
  label: Board Budget Reallocations 12.9.13
  url: https://drive.google.com/file/d/0B42s0chw8f_lNWdJWnMzYTR1SzQ/view?usp=drivesdk&resourcekey=0-shU_vClgkLjAKkM45JSFrA
- type: pdf
  label: November 2013 Financial Report 12.9.13
  url: https://drive.google.com/file/d/0B42s0chw8f_lSXE1ekV4bUxkQmM/view?usp=drivesdk&resourcekey=0-BomrigalCGqONKo3IaWyjQ
---
