---
layout: layouts/meeting.njk
title: "January 23, 2013 \u2014 School Board Meeting \u2014 SPSD"
heading: January Regular Meeting
breadcrumb: Jan 23, 2013
display_date: January 23, 2013
day_of_week: Wednesday
meeting_tag: "Regular Meeting \xB7 January 2013"
time: 6:00 PM
location: South Portland High School Lecture Hall
has_video: false
video_url: ''
has_vtt_source: false
has_transcript: false
stub: true
board_attendance: []
docs:
- type: pdf
  label: Special_1.23.13.doc
  url: https://docs.google.com/document/d/0B42s0chw8f_lLVg5bXQ3cWZrZ1U/edit?usp=drivesdk&ouid=102600287501528877491&resourcekey=0-a9jEpHTIXknPr9c5D2jUew&rtpof=true&sd=true
---
