---
layout: layouts/meeting.njk
title: "April 8, 2013 \u2014 School Board Meeting \u2014 SPSD"
heading: April Regular Meeting
breadcrumb: Apr 8, 2013
display_date: April 8, 2013
day_of_week: Monday
meeting_tag: "Regular Meeting \xB7 April 2013"
time: 6:00 PM
location: South Portland High School Lecture Hall
has_video: false
video_url: ''
has_vtt_source: false
has_transcript: false
stub: true
board_attendance: []
docs:
- type: min
  label: Minutes_4.08.13
  url: https://drive.google.com/file/d/0B42s0chw8f_leTZKQnhDMHFRS2c/view?usp=drivesdk&resourcekey=0-2dsNhhimgknl-rdTOOdcZQ
- type: pdf
  label: Microsoft Word - 4.08.13
  url: https://drive.google.com/file/d/0B42s0chw8f_laVZ6WG94MnJsY0U/view?usp=drivesdk&resourcekey=0-YTG4LbHqunHDXBK-5mrKDQ
- type: pdf
  label: Report_Supt_5 4.8.13
  url: https://drive.google.com/file/d/0B42s0chw8f_lWXRjRHZQYlZwTkU/view?usp=drivesdk&resourcekey=0-PAVa0WHA1f6LHiM5e__dHQ
- type: pdf
  label: New_Business_5 4.8.13
  url: https://drive.google.com/file/d/0B42s0chw8f_ldWRObDFweE5PbU0/view?usp=drivesdk&resourcekey=0-4_5gE5nkcWlYN7S_KYSTog
- type: pdf
  label: New_Business_1 4.8.13
  url: https://drive.google.com/file/d/0B42s0chw8f_lcTZKS3VTY3RYTFE/view?usp=drivesdk&resourcekey=0-K0-4vmHWknKNg5nLqbypFg
- type: pdf
  label: Report_Committees_2 4.8.13
  url: https://drive.google.com/file/d/0B42s0chw8f_laXdKdGw5T0lPLU0/view?usp=drivesdk&resourcekey=0-6AX-Wlo2dzod8i29c4Noew
- type: pdf
  label: Report_Committees_1_contd 4.8.13
  url: https://drive.google.com/file/d/0B42s0chw8f_lTXJ3aGdhSEJiSmM/view?usp=drivesdk&resourcekey=0-3KfdfruZWSfHphmg0IBVmg
- type: pdf
  label: New_Business_3 4.8.13
  url: https://drive.google.com/file/d/0B42s0chw8f_lRkdiTGwzSWtHbjA/view?usp=drivesdk&resourcekey=0-h_sShDkXwV0MYZSuN5I9Mw
- type: pdf
  label: New_Business_4 4.8.13
  url: https://drive.google.com/file/d/0B42s0chw8f_lNWFRYklGaklDUnM/view?usp=drivesdk&resourcekey=0-aJlta2cn2VqUnsFfg4cRWg
- type: agenda
  label: Agenda_4.08.13
  url: https://drive.google.com/file/d/0B42s0chw8f_lanFndm1xd1YzSWM/view?usp=drivesdk&resourcekey=0-xopJdpmzJw6oGYxkWUPvKg
- type: pdf
  label: New_Business_2 4.8.13
  url: https://drive.google.com/file/d/0B42s0chw8f_lRkhmS29Rb1p6QWM/view?usp=drivesdk&resourcekey=0-6vkjL-YjVcCZ9afMh6XMgQ
- type: pdf
  label: Report_Committees_1 4.8.13
  url: https://drive.google.com/file/d/0B42s0chw8f_lVjBfa3VUUFV2NXM/view?usp=drivesdk&resourcekey=0-kIzytk3aUvErjcgLfpcDtg
---
