---
layout: layouts/meeting.njk
title: "September 9, 2013 \u2014 School Board Meeting \u2014 SPSD"
heading: September Regular Meeting
breadcrumb: Sep 9, 2013
display_date: September 9, 2013
day_of_week: Monday
meeting_tag: "Regular Meeting \xB7 September 2013"
time: 6:00 PM
location: South Portland High School Lecture Hall
has_video: false
video_url: ''
has_vtt_source: false
has_transcript: false
stub: true
board_attendance: []
docs:
- type: pdf
  label: Furniture Bid Memo 9.9.13
  url: https://drive.google.com/file/d/0B42s0chw8f_lVGJhTkJXc29sZms/view?usp=drivesdk&resourcekey=0-4t4jDZxscG37kipiU2t67g
- type: pdf
  label: New Staff for Board 9.9.13
  url: https://drive.google.com/file/d/0B42s0chw8f_lSGpaY29nMExRU3M/view?usp=drivesdk&resourcekey=0-zKP32Q_SGKDsewa6Wr8oXA
- type: pdf
  label: Donations 9.9.13
  url: https://drive.google.com/file/d/0B42s0chw8f_lZF9XVDhjSk91LVk/view?usp=drivesdk&resourcekey=0-eJJCV1t8Pa9ThzKlYszbPg
- type: agenda
  label: Board Agenda 9.9.13
  url: https://drive.google.com/file/d/0B42s0chw8f_lSmFmNy1yLS1LcFE/view?usp=drivesdk&resourcekey=0-49Wy8axDx2xqVhw0_m_iSw
- type: pdf
  label: B & G Report 9.9.13
  url: https://drive.google.com/file/d/0B42s0chw8f_lTVVKZkhZdWVIZGs/view?usp=drivesdk&resourcekey=0-D_7cz0rhwcFo9hpO0ez-5Q
- type: min
  label: 9.9.13 Board Minutes
  url: https://drive.google.com/file/d/0B42s0chw8f_lSGhsX3R2a2ZhNEE/view?usp=drivesdk&resourcekey=0-Xb_pYmi4eMqXBj56lcB-6w
---
