---
layout: layouts/meeting.njk
title: "March 10, 2014 \u2014 School Board Meeting \u2014 SPSD"
heading: March Regular Meeting
breadcrumb: Mar 10, 2014
display_date: March 10, 2014
day_of_week: Monday
meeting_tag: "Regular Meeting \xB7 March 2014"
time: 6:00 PM
location: South Portland High School Lecture Hall
has_video: false
video_url: ''
has_vtt_source: false
has_transcript: false
stub: true
board_attendance: []
docs:
- type: min
  label: 3.10.14 Board MinutesRE
  url: https://drive.google.com/file/d/0B42s0chw8f_lN05iUTBJM3FjcGs/view?usp=drivesdk&resourcekey=0-Djf72Xy38M-eEUHEI8h_xQ
- type: pdf
  label: Policy KG Community Use of School Facilities3.10.14
  url: https://drive.google.com/file/d/0B42s0chw8f_lV2tucFdHS3liYnc/view?usp=drivesdk&resourcekey=0-tTU45h-md2dDTrjL87U3TQ
- type: pdf
  label: Financial Report 3.10.14
  url: https://drive.google.com/file/d/0B42s0chw8f_lS0dzR0RnbTk3T28/view?usp=drivesdk&resourcekey=0-dE004jbBxWoUFit2gQ59hA
- type: pdf
  label: Policy BEA Board of Education Use of Electronic Mail 3.10.14
  url: https://drive.google.com/file/d/0B42s0chw8f_lWWZ6dWFhTWRNRnM/view?usp=drivesdk&resourcekey=0-7BUN5fjomEq-zpi43s1qyQ
- type: pdf
  label: Fairpoint Memo 3.10.14
  url: https://drive.google.com/file/d/0B42s0chw8f_lT0Z6YlZsbFdHWjA/view?usp=drivesdk&resourcekey=0-Ory3q0nJ5DlYwqpJrMTcug
- type: pdf
  label: Expenditure Comments 3.10.14
  url: https://drive.google.com/file/d/0B42s0chw8f_lanZzMlpQd2hFZW8/view?usp=drivesdk&resourcekey=0-7dLn4fgFAr0wI8Oge4l-9A
- type: pdf
  label: Donations 3.10.14
  url: https://drive.google.com/file/d/0B42s0chw8f_lSlZFMXhpMmRsRjA/view?usp=drivesdk&resourcekey=0-BPHoTwJmafUjMiPdW9rX6g
- type: agenda
  label: AGENDA 3.10.14
  url: https://drive.google.com/file/d/0B42s0chw8f_lSlBuci1Na3JHN2c/view?usp=drivesdk&resourcekey=0-4qBhFw3M0bCDemVhhj-kNA
- type: pdf
  label: B&G Report 3.10.14
  url: https://drive.google.com/file/d/0B42s0chw8f_lNEhvSFUyMDlGY3M/view?usp=drivesdk&resourcekey=0-G1O8ZHXSGJe9GhFkV6SI8Q
---
