---
layout: layouts/meeting.njk
title: "January 13, 2014 \u2014 School Board Meeting \u2014 SPSD"
heading: January Regular Meeting
breadcrumb: Jan 13, 2014
display_date: January 13, 2014
day_of_week: Monday
meeting_tag: "Regular Meeting \xB7 January 2014"
time: 6:00 PM
location: South Portland High School Lecture Hall
has_video: false
video_url: ''
has_vtt_source: false
has_transcript: false
stub: true
board_attendance: []
docs:
- type: min
  label: 1.13.14 Board Minutes
  url: https://drive.google.com/file/d/0B42s0chw8f_lNGRaY214NUZQYUU/view?usp=drivesdk&resourcekey=0-1lRkEg4c6Pmq_v8S3JWL9w
- type: agenda
  label: BOARD AGENDA 1.13.14
  url: https://drive.google.com/file/d/0B42s0chw8f_lcGd6MjgzTk9JUGM/view?usp=drivesdk&resourcekey=0-U-l8leUKo11Sfagm9RTapg
- type: pdf
  label: December 2013 Financial Report 1.13.14
  url: https://drive.google.com/file/d/0B42s0chw8f_lN1RzSlU2VWVmZ1k/view?usp=drivesdk&resourcekey=0-6kSu7mBQarTGBQ_AIciELw
- type: pdf
  label: Donations 1.13.14
  url: https://drive.google.com/file/d/0B42s0chw8f_lM215Q1FHNkV4UlE/view?usp=drivesdk&resourcekey=0-ZadFH6n8C5IKfT-FIPfbvw
- type: pdf
  label: 2013 Auditors Presentation 1.13.14
  url: https://drive.google.com/file/d/0B42s0chw8f_lSy0wWmVVUTAyZnM/view?usp=drivesdk&resourcekey=0-Oflzljek4YNFPgk1jhV0Ng
- type: pdf
  label: Policy BCA School Board Member Ethics 2nd Reading 1.13.14
  url: https://drive.google.com/file/d/0B42s0chw8f_lN2xRQzBjOUJFTG8/view?usp=drivesdk&resourcekey=0-ThOC-fe6sHIYlyJMqDrjgg
- type: pdf
  label: Policy BBFB Nepotism 2nd Reading 1.13.14
  url: https://drive.google.com/file/d/0B42s0chw8f_lMUlrWWZaaVgyczQ/view?usp=drivesdk&resourcekey=0-uOHlfMddAUVA0qOgz5kQPw
- type: pdf
  label: December 2013 Building.Grounds Report 1.13.14
  url: https://drive.google.com/file/d/0B42s0chw8f_lTDVZNnNuVGhZaWc/view?usp=drivesdk&resourcekey=0-GxKJ429EYrZL55lEi2LPUQ
---
