---
layout: layouts/meeting.njk
title: "December 8, 2014 \u2014 School Board Meeting \u2014 SPSD"
heading: December Regular Meeting
breadcrumb: Dec 8, 2014
display_date: December 8, 2014
day_of_week: Monday
meeting_tag: "Regular Meeting \xB7 December 2014"
time: 6:00 PM
location: South Portland High School Lecture Hall
has_video: false
video_url: ''
has_vtt_source: false
has_transcript: false
stub: true
board_attendance: []
docs:
- type: agenda
  label: Revised Agenda 12.8.14
  url: https://drive.google.com/file/d/0B42s0chw8f_lNHBZblppbFNjVDA/view?usp=drivesdk&resourcekey=0-Ksi-NWod-lERv0xUaW-V7w
- type: pdf
  label: Policy IKF - Secon Read 12.8.14
  url: https://drive.google.com/file/d/0B42s0chw8f_lMlBSblRUd3dvM3c/view?usp=drivesdk&resourcekey=0-6RqQ-Y_l4C0-Ti2CpR7itw
- type: pdf
  label: Donations 12.8.14
  url: https://drive.google.com/file/d/0B42s0chw8f_lMnJzWlZscFBtdlE/view?usp=drivesdk&resourcekey=0-b93OioIY4l-4-c3rHdlhnA
- type: agenda
  label: Agenda 12.8.14 Board Packet part 1_
  url: https://drive.google.com/file/d/0B42s0chw8f_ld3I1LWFmX05wUDg/view?usp=drivesdk&resourcekey=0-mt7oiDEQ4dN5bTitSZqbVg
- type: packet
  label: 12.8.14 Financials Board Packet part 2
  url: https://drive.google.com/file/d/0B42s0chw8f_lX2RKNG92Um9mNFE/view?usp=drivesdk&resourcekey=0-hL9t-lIY-HhDMwYNdShGOg
- type: packet
  label: 12.8.14 Board Packet part 3
  url: https://drive.google.com/file/d/0B42s0chw8f_lQWFkaEJzZkswU2c/view?usp=drivesdk&resourcekey=0--Sc3r3T8jpBwvUzJq0QI6w
- type: min
  label: 12.8.14 Board Minutes
  url: https://drive.google.com/file/d/0B42s0chw8f_la2ZMMUd1cURhcFU/view?usp=drivesdk&resourcekey=0-9M_tHN2k4q8rX--MINeX4w
---
