---
layout: layouts/meeting.njk
title: "February 10, 2014 \u2014 School Board Meeting \u2014 SPSD"
heading: February Regular Meeting
breadcrumb: Feb 10, 2014
display_date: February 10, 2014
day_of_week: Monday
meeting_tag: "Regular Meeting \xB7 February 2014"
time: 6:00 PM
location: South Portland High School Lecture Hall
has_video: false
video_url: ''
has_vtt_source: false
has_transcript: false
stub: true
board_attendance: []
docs:
- type: min
  label: 2.10.14 Board Minutes
  url: https://drive.google.com/file/d/0B42s0chw8f_lU2RRdUNuUUxlbTQ/view?usp=drivesdk&resourcekey=0-c6ShTT76nOm5PTBdlp1c-g
- type: pdf
  label: School Bus Bid 2.10.14
  url: https://drive.google.com/file/d/0B42s0chw8f_lUl9uSW1ibnU3eEk/view?usp=drivesdk&resourcekey=0-F38oj-qQW74Z0ceoETbTaA
- type: pdf
  label: School Bus Bid Tab 2.10.14
  url: https://drive.google.com/file/d/0B42s0chw8f_lTkZPbjdJazVlZzA/view?usp=drivesdk&resourcekey=0-AKdyi0XpsBdbw6UhMknp6g
- type: pdf
  label: PATHS GAC requests 2.10.14
  url: https://drive.google.com/file/d/0B42s0chw8f_ld0JDc2ZzVDRRajg/view?usp=drivesdk&resourcekey=0-U7UwOuhDSqXKhleYVzRxeQ
- type: pdf
  label: KG Community Use of School Facilities First Reading 2.10.14
  url: https://drive.google.com/file/d/0B42s0chw8f_lRDFKMGJxQlJTTzA/view?usp=drivesdk&resourcekey=0-bjLJi_fNPHl_Ui_h6Dg-bQ
- type: pdf
  label: January 2014 B&G Report 2.10.14
  url: https://drive.google.com/file/d/0B42s0chw8f_lWmlrNk4yZDZ5OE0/view?usp=drivesdk&resourcekey=0-oX79xu2cDOcBP5IYfRnMZQ
- type: agenda
  label: BOARD AGENDA 2.10.14
  url: https://drive.google.com/file/d/0B42s0chw8f_lZDVHY19vcGVrb2c/view?usp=drivesdk&resourcekey=0-l6tLfhJs6gM1sI-e6taYmQ
- type: pdf
  label: Donations 2.10.14
  url: https://drive.google.com/file/d/0B42s0chw8f_lSDNIcGYwaDl6NTg/view?usp=drivesdk&resourcekey=0-M-Ju-qAhutf6btAheOKFHg
---
