---
layout: layouts/meeting.njk
title: October 15, 2014 — School Board Meeting — SPSD
heading: Board Workshop
breadcrumb: Oct 15, 2014
display_date: October 15, 2014
day_of_week: Wednesday
meeting_tag: Workshop Meeting · October 2014
time: 6:00 PM
location: South Portland High School Lecture Hall
has_video: false
video_url: ''
has_vtt_source: false
has_transcript: false
stub: true
board_attendance: []
docs:
- type: pdf
  label: Security Upgrades 10.15
  url: https://drive.google.com/file/d/0B42s0chw8f_leTZXT1RpblRnRUk/view?usp=drivesdk&resourcekey=0-_pyczLumFPLDsR7gKEfmOw
- type: agenda
  label: Workshop Agenda 10.15
  url: https://drive.google.com/file/d/0B42s0chw8f_laG9VN2lqOFZpczA/view?usp=drivesdk&resourcekey=0-bnaPmhP3dsvjADRCbPI2gQ
- type: pdf
  label: Policy JKAA  10.15
  url: https://drive.google.com/file/d/0B42s0chw8f_la0w4cGZ4bzVsLW8/view?usp=drivesdk&resourcekey=0-j87iofUV8ZahEFXHcOOCMw
- type: pdf
  label: Sabbatical Request 10.15
  url: https://drive.google.com/file/d/0B42s0chw8f_lSTdGSnRaVTMxVjQ/view?usp=drivesdk&resourcekey=0-RA-eswnwEajtsNnaGKAWag
- type: pdf
  label: Policy IGDJ-R 10.15
  url: https://drive.google.com/file/d/0B42s0chw8f_lT2FoMnAwVVZNcjg/view?usp=drivesdk&resourcekey=0-CsozzFpSQkjDA0wAPeH5_w
- type: pdf
  label: ELL Ed Tech Request 10.15
  url: https://drive.google.com/file/d/0B42s0chw8f_lbFotbWpxU0NLMGM/view?usp=drivesdk&resourcekey=0-W9qK5ILWx21i9kraYpY0yA
- type: pdf
  label: Contributions and Donations 10.15
  url: https://drive.google.com/file/d/0B42s0chw8f_lZ1FuRV90QjhtYzg/view?usp=drivesdk&resourcekey=0-EXu5DR2v4hvMILBPUU2ZDw
- type: pdf
  label: Mahoney Roof Repairs 10.15
  url: https://drive.google.com/file/d/0B42s0chw8f_lV19ZU3pNOVd3OEk/view?usp=drivesdk&resourcekey=0-jX0pvn_FTJjVuT7VQ6uZ0w
- type: agenda
  label: Board Agenda 10.15
  url: https://drive.google.com/file/d/0B42s0chw8f_lT01zeEMtUFhReUk/view?usp=drivesdk&resourcekey=0-tBE4Pt1yEqfDkRTBLH1p1g
- type: pdf
  label: Enrollment 10.15
  url: https://drive.google.com/file/d/0B42s0chw8f_lTVlTTURJMHBuNUE/view?usp=drivesdk&resourcekey=0-k5aD97T3uGai2OZpAcsOnA
- type: pdf
  label: Correspondence 10.15
  url: https://drive.google.com/file/d/0B42s0chw8f_lTVBHX2xVSUs4NVU/view?usp=drivesdk&resourcekey=0-mjLcYNl3bnrefbEinm6bgw
- type: pdf
  label: Buildings & Grounds Report 10.15
  url: https://drive.google.com/file/d/0B42s0chw8f_lMWFFbXZSYWc2SFU/view?usp=drivesdk&resourcekey=0-a18_Dg_w-sZy-30LHCzVBg
- type: pdf
  label: Policy JI 10.15
  url: https://drive.google.com/file/d/0B42s0chw8f_lVFdpNnlYQ1JvZDA/view?usp=drivesdk&resourcekey=0-SqfsfdMDct4-H59yKoTeXg
- type: pdf
  label: Appointments 10.15
  url: https://drive.google.com/file/d/0B42s0chw8f_lN29EYVFYbExtTEE/view?usp=drivesdk&resourcekey=0-ys22Aeci9hJTnMkHtXtcRQ
- type: pdf
  label: Financial Report 10.15
  url: https://drive.google.com/file/d/0B42s0chw8f_lQUtRTUVncVBBdTA/view?usp=drivesdk&resourcekey=0--PBA1byZLJr3WUKn9BDgZA
- type: pdf
  label: Emergency Management Plan 10.15
  url: https://drive.google.com/file/d/0B42s0chw8f_lZHZzMVFkZ1llTzA/view?usp=drivesdk&resourcekey=0-p6jZVsmeCmaW69LPfcI0-g
- type: min
  label: Board Minutes
  url: https://docs.google.com/document/d/0B42s0chw8f_lUk1yV1lFWEg0YzA/edit?usp=drivesdk&ouid=102600287501528877491&resourcekey=0-o4V7ZxMg1MgvbyX3do16Tg&rtpof=true&sd=true
---
