---
layout: layouts/meeting.njk
title: "May 30, 2014 \u2014 School Board Meeting \u2014 SPSD"
heading: May Regular Meeting
breadcrumb: May 30, 2014
display_date: May 30, 2014
day_of_week: Friday
meeting_tag: "Regular Meeting \xB7 May 2014"
time: 6:00 PM
location: South Portland High School Lecture Hall
has_video: false
video_url: ''
has_vtt_source: false
has_transcript: false
stub: true
board_attendance: []
docs:
- type: pdf
  label: 5.30.14 retirement letter - DM
  url: https://drive.google.com/file/d/0B42s0chw8f_lX0hoeURHUWNtcE0/view?usp=drivesdk&resourcekey=0-TnR0s9gsgBAMhHuzOy1Spg
---
