---
layout: layouts/meeting.njk
title: "February 1, 2014 \u2014 School Board Meeting \u2014 SPSD"
heading: February Regular Meeting
breadcrumb: Feb 1, 2014
display_date: February 1, 2014
day_of_week: Saturday
meeting_tag: "Regular Meeting \xB7 February 2014"
time: 6:00 PM
location: South Portland High School Lecture Hall
has_video: false
video_url: ''
has_vtt_source: false
has_transcript: false
stub: true
board_attendance: []
docs:
- type: pdf
  label: Enrollments 2.1.14
  url: https://drive.google.com/file/d/0B42s0chw8f_lTHc1LVRQdnlJNHc/view?usp=drivesdk&resourcekey=0-OfHg4Eq_8DgoTR0leAmpeA
---
