---
layout: layouts/meeting.njk
title: "February 9, 2015 \u2014 School Board Meeting \u2014 SPSD"
heading: February Regular Meeting
breadcrumb: Feb 9, 2015
display_date: February 9, 2015
day_of_week: Monday
meeting_tag: "Regular Meeting \xB7 February 2015"
time: 6:00 PM
location: South Portland High School Lecture Hall
has_video: false
video_url: ''
has_vtt_source: false
has_transcript: false
stub: true
board_attendance: []
docs:
- type: agenda
  label: Revised Agenda 2.9.15
  url: https://drive.google.com/file/d/0B42s0chw8f_lSzROc19FY0VUYzg/view?usp=drivesdk&resourcekey=0-g0Im_vYtgfsQ_SRMbfUpaQ
- type: pdf
  label: Donations 2.9.15
  url: https://drive.google.com/file/d/0B42s0chw8f_lZlZ4T3MwOU15OFE/view?usp=drivesdk&resourcekey=0-G-e_YHQ2uZ4i1laisWvP6Q
---
