---
layout: layouts/meeting.njk
title: "June 8, 2015 \u2014 School Board Meeting \u2014 SPSD"
heading: June Regular Meeting
breadcrumb: Jun 8, 2015
display_date: June 8, 2015
day_of_week: Monday
meeting_tag: "Regular Meeting \xB7 June 2015"
time: 6:00 PM
location: South Portland High School Lecture Hall
has_video: false
video_url: ''
has_vtt_source: false
has_transcript: false
stub: true
board_attendance: []
docs:
- type: min
  label: 6.8.15 Board Minutes
  url: https://drive.google.com/file/d/0B42s0chw8f_lMmF6WG13X3BCbmM/view?usp=drivesdk&resourcekey=0-Skpsg7w0RARcwFW3WeDkWQ
- type: pdf
  label: Revised New Staff 6.8.15
  url: https://drive.google.com/file/d/0B42s0chw8f_lcWJmcTE4MnQyQ00/view?usp=drivesdk&resourcekey=0-xWWEPxbTJ7TFNaf2KA8UtQ
- type: pdf
  label: Resignations 6.8.15
  url: https://drive.google.com/file/d/0B42s0chw8f_ld2U3RV9yTWJsU2M/view?usp=drivesdk&resourcekey=0-YQ2D_1tb7x6qMhAn2-HFug
- type: agenda
  label: Revised Agenda 6.8.15
  url: https://drive.google.com/file/d/0B42s0chw8f_lV0dNMzNNRktOTGs/view?usp=drivesdk&resourcekey=0-F3X9tSU0uLE9LylhA1ZefQ
- type: pdf
  label: Pre-Self Study Report 6.8.15
  url: https://drive.google.com/file/d/0B42s0chw8f_lajM0RXZnbjlESEE/view?usp=drivesdk&resourcekey=0-jEiEA2x5fnMFm7TA0aTSBA
- type: pdf
  label: Kaler SIG Grant 6.8.15_1
  url: https://drive.google.com/file/d/0B42s0chw8f_lY0RZTWp3SDd1cG8/view?usp=drivesdk&resourcekey=0-MuqL6rQK2Aj27F-aX3gD2A
- type: pdf
  label: Projected Surplus 6.8.15
  url: https://drive.google.com/file/d/0B42s0chw8f_lOTM4bVJKV1ZueUk/view?usp=drivesdk&resourcekey=0-CXGoWp-yBryHVGZ62S-q9w
- type: pdf
  label: Donations 6.8.15
  url: https://drive.google.com/file/d/0B42s0chw8f_leWEyajhOQ1h3aEU/view?usp=drivesdk&resourcekey=0-ZqGd9LR3HdzXRbzbP6u6EQ
- type: agenda
  label: Agenda 6.8.15
  url: https://drive.google.com/file/d/0B42s0chw8f_leWl4N1Nac2lucFU/view?usp=drivesdk&resourcekey=0-WKP4glvzUpUZ2kMdk5VlWA
- type: pdf
  label: Additional Donations 6.8.15
  url: https://drive.google.com/file/d/0B42s0chw8f_lYnB2SWF0VnJqS0k/view?usp=drivesdk&resourcekey=0-Cg4iF4pLZCF86Pt55XYAvg
---
