---
layout: layouts/meeting.njk
title: "March 24, 2015 \u2014 School Board Meeting \u2014 SPSD"
heading: Board Workshop
breadcrumb: Mar 24, 2015
display_date: March 24, 2015
day_of_week: Tuesday
meeting_tag: "Workshop Meeting \xB7 March 2015"
time: 6:00 PM
location: South Portland High School Lecture Hall
has_video: false
video_url: ''
has_vtt_source: false
has_transcript: false
stub: true
board_attendance: []
docs:
- type: agenda
  label: Board Budget Workshop Agenda 3.24.15
  url: https://drive.google.com/file/d/0B42s0chw8f_lMnZxSTVqUGNNNkU/view?usp=drivesdk&resourcekey=0-KoTviRopqzcHQ558pkosGA
---
