---
layout: layouts/meeting.njk
title: "January 12, 2015 \u2014 School Board Meeting \u2014 SPSD"
heading: January Regular Meeting
breadcrumb: Jan 12, 2015
display_date: January 12, 2015
day_of_week: Monday
meeting_tag: "Regular Meeting \xB7 January 2015"
time: 6:00 PM
location: South Portland High School Lecture Hall
has_video: false
video_url: ''
has_vtt_source: false
has_transcript: false
stub: true
board_attendance: []
docs:
- type: pdf
  label: Board Donations 1.12.15
  url: https://drive.google.com/file/d/0B42s0chw8f_lR0JHSC1KMW5zQkE/view?usp=drivesdk&resourcekey=0-8Kcm_I7uLrgJaK2oJGgAlA
- type: min
  label: 1.12.15 Board Minutes
  url: https://drive.google.com/file/d/0B42s0chw8f_la1B0d3FJTVFxR0k/view?usp=drivesdk&resourcekey=0-Sx6gD3hV7GtkhQsPZ7wSnQ
---
