---
layout: layouts/meeting.njk
title: "July 11, 2016 \u2014 School Board Meeting \u2014 SPSD"
heading: July Regular Meeting
breadcrumb: Jul 11, 2016
display_date: July 11, 2016
day_of_week: Monday
meeting_tag: "Regular Meeting \xB7 July 2016"
time: 6:00 PM
location: South Portland High School Lecture Hall
has_video: false
video_url: ''
has_vtt_source: false
has_transcript: false
stub: true
board_attendance: []
docs:
- type: min
  label: Minutes 7.11.16
  url: https://drive.google.com/file/d/0B42s0chw8f_la3lLLXpuanhrTUE/view?usp=drivesdk&resourcekey=0-oeQ5LL3wLl0ggACw_bjN1g
- type: pdf
  label: Donations 7.11.16
  url: https://drive.google.com/file/d/0B42s0chw8f_lYW5aWFp3NnozS1k/view?usp=drivesdk&resourcekey=0-vlihdpXml9MIajn3ek2ptQ
- type: agenda
  label: Revised Board Agenda 7.11.16
  url: https://drive.google.com/file/d/0B42s0chw8f_lMkZIYi1LSWpURnc/view?usp=drivesdk&resourcekey=0-73WAbyolANkzwiOCpibyww
- type: agenda
  label: Board Workshop Agenda   7.11.16
  url: https://drive.google.com/file/d/0B42s0chw8f_leWtCYmRQQmJJbXM/view?usp=drivesdk&resourcekey=0-Oqy_oFZ6nJ2I1yjFFoh6mA
---
