---
layout: layouts/meeting.njk
title: "July 14, 2016 \u2014 School Board Meeting \u2014 SPSD"
heading: July Regular Meeting
breadcrumb: Jul 14, 2016
display_date: July 14, 2016
day_of_week: Thursday
meeting_tag: "Regular Meeting \xB7 July 2016"
time: 6:00 PM
location: South Portland High School Lecture Hall
has_video: false
video_url: ''
has_vtt_source: false
has_transcript: false
stub: true
board_attendance: []
docs:
- type: agenda
  label: Board Retreat Agenda   7.14.16
  url: https://drive.google.com/file/d/0B42s0chw8f_lSmZ5RlJ1V2xEaU0/view?usp=drivesdk&resourcekey=0-dIwBWffChMXilh28DB49zg
---
