---
layout: layouts/meeting.njk
title: "September 23, 2016 \u2014 School Board Meeting \u2014 SPSD"
heading: September Regular Meeting
breadcrumb: Sep 23, 2016
display_date: September 23, 2016
day_of_week: Friday
meeting_tag: "Regular Meeting \xB7 September 2016"
time: 6:00 PM
location: South Portland High School Lecture Hall
has_video: false
video_url: ''
has_vtt_source: false
has_transcript: false
stub: true
board_attendance: []
docs:
- type: pdf
  label: SPHSCourtyardProject_MasterPlanPackage_Updated 9.23.16
  url: https://drive.google.com/file/d/0B42s0chw8f_lbGY2Zkg3aE15cnc/view?usp=drivesdk&resourcekey=0-u6n6OOqGV44gflZozPp1bg
---
