---
layout: layouts/meeting.njk
title: "June 13, 2016 \u2014 School Board Meeting \u2014 SPSD"
heading: June Regular Meeting
breadcrumb: Jun 13, 2016
display_date: June 13, 2016
day_of_week: Monday
meeting_tag: "Regular Meeting \xB7 June 2016"
time: 6:00 PM
location: South Portland High School Lecture Hall
has_video: false
video_url: ''
has_vtt_source: false
has_transcript: false
stub: true
board_attendance: []
docs:
- type: pdf
  label: New Staff Background  6.13.16
  url: https://drive.google.com/file/d/0B42s0chw8f_lNE5qT19VWEV4WVU/view?usp=drivesdk&resourcekey=0-SdWyfLJhzH61PqxZJDkNVg
- type: agenda
  label: Revised Board Agenda 6.13.16_0
  url: https://drive.google.com/file/d/0B42s0chw8f_lSGJNWVRfUjNuc00/view?usp=drivesdk&resourcekey=0-4UKm-WpqmUsQtXD42gYSQg
- type: min
  label: Minutes 6.13.16
  url: https://drive.google.com/file/d/0B42s0chw8f_lZmU4NzZIMjh0LUk/view?usp=drivesdk&resourcekey=0-9yEE1PfE-UXw0r20xHQhbg
---
