---
layout: layouts/meeting.njk
title: "May 16, 2016 \u2014 School Board Meeting \u2014 SPSD"
heading: May Regular Meeting
breadcrumb: May 16, 2016
display_date: May 16, 2016
day_of_week: Monday
meeting_tag: "Regular Meeting \xB7 May 2016"
time: 6:00 PM
location: South Portland High School Lecture Hall
has_video: false
video_url: ''
has_vtt_source: false
has_transcript: false
stub: true
board_attendance: []
docs:
- type: min
  label: Board Minutes 5.16.16
  url: https://drive.google.com/file/d/0B42s0chw8f_lVzVJVERhdzVRTm8/view?usp=drivesdk&resourcekey=0-bXhitmVvf23AfkNF4_H7Ag
---
