---
layout: layouts/meeting.njk
title: "June 2, 2016 \u2014 School Board Meeting \u2014 SPSD"
heading: June Regular Meeting
breadcrumb: Jun 2, 2016
display_date: June 2, 2016
day_of_week: Thursday
meeting_tag: "Regular Meeting \xB7 June 2016"
time: 6:00 PM
location: South Portland High School Lecture Hall
has_video: false
video_url: ''
has_vtt_source: false
has_transcript: false
stub: true
board_attendance: []
docs:
- type: pdf
  label: SPSD Enrollment Report 6.2.16
  url: https://drive.google.com/file/d/0B42s0chw8f_lSmlIcGdzT3JqZUk/view?usp=drivesdk&resourcekey=0-NVfWflOcxatwlgkVvQKhnw
---
