---
layout: layouts/meeting.njk
title: "December 5, 2016 \u2014 School Board Meeting \u2014 SPSD"
heading: Special Meeting
breadcrumb: Dec 5, 2016
display_date: December 5, 2016
day_of_week: Monday
meeting_tag: "Special Meeting \xB7 December 2016"
time: 6:00 PM
location: South Portland High School Lecture Hall
has_video: false
video_url: ''
has_vtt_source: false
has_transcript: false
stub: true
board_attendance: []
docs:
- type: min
  label: 12.5.16  Special Meeting Minutes
  url: https://drive.google.com/file/d/0B42s0chw8f_lYnl4Ul9sUW44eW8/view?usp=drivesdk&resourcekey=0-UDFv3LmiTH-uXRumNmau4Q
- type: min
  label: 12.5.16  Board Inauguration Minutes
  url: https://drive.google.com/file/d/0B42s0chw8f_lRmprQVFobFRoQzQ/view?usp=drivesdk&resourcekey=0-elzyEjLOlyonU4_1ms85_Q
- type: pdf
  label: Inauguration 12.5.16
  url: https://drive.google.com/file/d/0B42s0chw8f_lV2czUlAwd0VJU0k/view?usp=drivesdk&resourcekey=0-4Y_5SowuLVTqa70T8dAG6Q
- type: agenda
  label: Board Special Meeting Agenda  12.5.16
  url: https://drive.google.com/file/d/0B42s0chw8f_lSXplWHROa0NNV0U/view?usp=drivesdk&resourcekey=0-A1fxLXtQKxut_XrRIU2B2Q
---
