---
layout: layouts/meeting.njk
title: "November 1, 2016 \u2014 School Board Meeting \u2014 SPSD"
heading: November Regular Meeting
breadcrumb: Nov 1, 2016
display_date: November 1, 2016
day_of_week: Tuesday
meeting_tag: "Regular Meeting \xB7 November 2016"
time: 6:00 PM
location: South Portland High School Lecture Hall
has_video: false
video_url: ''
has_vtt_source: false
has_transcript: false
stub: true
board_attendance: []
docs:
- type: pdf
  label: SPSD Enrollment Report 11.1.16
  url: https://drive.google.com/file/d/0B42s0chw8f_lM3p2RWVZX2ZDN0k/view?usp=drivesdk&resourcekey=0-okV7wpqc-Is78YgZMmxa3g
---
