---
layout: layouts/meeting.njk
title: November 14, 2016 — School Board Meeting — SPSD
heading: Board Workshop
breadcrumb: Nov 14, 2016
display_date: November 14, 2016
day_of_week: Monday
meeting_tag: Workshop Meeting · November 2016
time: 6:00 PM
location: South Portland High School Lecture Hall
has_video: false
video_url: ''
has_vtt_source: false
has_transcript: false
stub: true
board_attendance: []
docs:
- type: agenda
  label: Revised Workshop Agenda  11.14
  url: https://drive.google.com/file/d/0B42s0chw8f_lU1h5bGd2M2ppSFU/view?usp=drivesdk&resourcekey=0-sqgU1Zm9ORtTvNE_usg0fA
- type: agenda
  label: Revised Board Agenda  11.14
  url: https://drive.google.com/file/d/0B42s0chw8f_lUzUwcHFESmJuOEE/view?usp=drivesdk&resourcekey=0-83b0t3JxdKFrIjVGaQ8Nzg
- type: agenda
  label: Revised Workshop Agenda  11.14
  url: https://drive.google.com/file/d/0B42s0chw8f_lakg0V1h1clZfNEU/view?usp=drivesdk&resourcekey=0-iI3LYkAsC-vgcKXdo4f8Vw
- type: min
  label: Minutes 11.14
  url: https://drive.google.com/file/d/0B42s0chw8f_lcnU3dVdudm5XaWM/view?usp=drivesdk&resourcekey=0-lPAfMn9_MbXhsuyU7Ou_ww
- type: min
  label: '11.14'
  url: https://drive.google.com/file/d/0B42s0chw8f_lMjZEQVp1dy16aWM/view?usp=drivesdk&resourcekey=0-g6Ega_TK48AL7WW769WAgg
---
