---
layout: layouts/meeting.njk
title: "June 12, 2017 \u2014 School Board Meeting \u2014 SPSD"
heading: Special Meeting
breadcrumb: Jun 12, 2017
display_date: June 12, 2017
day_of_week: Monday
meeting_tag: "Special Meeting \xB7 June 2017"
time: 6:00 PM
location: South Portland High School Lecture Hall
has_video: false
video_url: ''
has_vtt_source: false
has_transcript: false
stub: true
board_attendance: []
docs:
- type: agenda
  label: Board Special Meeting Agenda  6.12.17
  url: https://drive.google.com/file/d/0B42s0chw8f_lbXFldm1pVHRiZnc/view?usp=drivesdk&resourcekey=0-LaMJl_8xhyY7MlUjm6eq1Q
- type: agenda
  label: Revised Board Agenda 6.12.17.docx
  url: https://docs.google.com/document/d/0B42s0chw8f_laXl2aUpROHcwMlk/edit?usp=drivesdk&ouid=102600287501528877491&resourcekey=0-ncx8pSgORaIioMLqQGyifQ&rtpof=true&sd=true
- type: pdf
  label: New Staff  June 12, 2017 (2).doc
  url: https://docs.google.com/document/d/0B42s0chw8f_laUxoOXcxSXllZWs/edit?usp=drivesdk&ouid=102600287501528877491&resourcekey=0-pu1QsFsW5QxRTr640fS-tw&rtpof=true&sd=true
- type: agenda
  label: Revised Board Agenda 6.12.17
  url: https://drive.google.com/file/d/0B42s0chw8f_lYTZtOFJPNER5T1U/view?usp=drivesdk&resourcekey=0-nvuptnlls0TzEt0CHYzUcQ
- type: pdf
  label: New Staff  June 12, 2017 (1).doc
  url: https://docs.google.com/document/d/0B42s0chw8f_lTS1EQWxqSnhVYmM/edit?usp=drivesdk&ouid=102600287501528877491&resourcekey=0-oMuW3el693ZoU421tcke6w&rtpof=true&sd=true
- type: pdf
  label: New Staff  June 12, 2017 (2)
  url: https://drive.google.com/file/d/0B42s0chw8f_lOTFuSHJRRUctSFU/view?usp=drivesdk&resourcekey=0-6fF3BtjOBTrQb9b6hYia3g
- type: pdf
  label: New Staff  June 12, 2017.doc
  url: https://docs.google.com/document/d/0B42s0chw8f_lNXBsaFZqNWFTUTQ/edit?usp=drivesdk&ouid=102600287501528877491&resourcekey=0-IoCq8ti3vF7VJejOcNHylA&rtpof=true&sd=true
- type: pdf
  label: New Staff  June 12, 2017 (1)
  url: https://drive.google.com/file/d/0B42s0chw8f_lX0NTWVY4S3l6dWc/view?usp=drivesdk&resourcekey=0-j8AEY-2nOMRDWHKH2ZATsw
- type: agenda
  label: Board Agenda 6.12.17
  url: https://drive.google.com/file/d/0B42s0chw8f_lVldONF82eEJFbnM/view?usp=drivesdk&resourcekey=0-dusBGZIrGxr_X3jSmGBUSg
- type: agenda
  label: Board Agenda 6.12.17.docx
  url: https://docs.google.com/document/d/0B42s0chw8f_lSVdHc1IxclVBM0E/edit?usp=drivesdk&ouid=102600287501528877491&resourcekey=0-bzYCNdmIe4Ot8_2fxFOwlA&rtpof=true&sd=true
- type: agenda
  label: Draft Board Agenda 6.12.17 (2).docx
  url: https://docs.google.com/document/d/0B42s0chw8f_lMGRLUndVTEotRDQ/edit?usp=drivesdk&ouid=102600287501528877491&resourcekey=0-3l7fDDD46rqbisX_jdEbPQ&rtpof=true&sd=true
---
