---
layout: layouts/meeting.njk
title: "April 10, 2017 \u2014 School Board Meeting \u2014 SPSD"
heading: Board Workshop
breadcrumb: Apr 10, 2017
display_date: April 10, 2017
day_of_week: Monday
meeting_tag: "Workshop Meeting \xB7 April 2017"
time: 6:00 PM
location: South Portland High School Lecture Hall
has_video: false
video_url: ''
has_vtt_source: false
has_transcript: false
stub: true
board_attendance: []
docs:
- type: agenda
  label: Board Budget Workshop Agenda 4.10.17
  url: https://drive.google.com/file/d/0B42s0chw8f_lc0VPM2RrbjBuWVU/view?usp=drivesdk&resourcekey=0-QFbwv8eaGWfc40JlWVfCcQ
- type: min
  label: Minutes 4.10.17
  url: https://drive.google.com/file/d/0B42s0chw8f_lSVR4TFNJNDdkcUE/view?usp=drivesdk&resourcekey=0-nTesxNbOax3pcL5NjowGfg
---
