---
layout: layouts/meeting.njk
title: "March 23, 2017 \u2014 School Board Meeting \u2014 SPSD"
heading: Board Workshop
breadcrumb: Mar 23, 2017
display_date: March 23, 2017
day_of_week: Thursday
meeting_tag: "Workshop Meeting \xB7 March 2017"
time: 6:00 PM
location: South Portland High School Lecture Hall
has_video: false
video_url: ''
has_vtt_source: false
has_transcript: false
stub: true
board_attendance: []
docs:
- type: agenda
  label: Board Budget Workshop Agenda 3.23.17 (4)
  url: https://drive.google.com/file/d/0B42s0chw8f_leHVpcVJ4amE3aXc/view?usp=drivesdk&resourcekey=0-RsEZZhYmTKyhLlawYzbBBQ
- type: agenda
  label: Board Budget Workshop Agenda 3.23.17 (4).doc
  url: https://docs.google.com/document/d/0B42s0chw8f_lel9jYUdiSDNlWHc/edit?usp=drivesdk&ouid=102600287501528877491&resourcekey=0-JLnrnoBPqKzlEgS4uJc_qw&rtpof=true&sd=true
---
