---
layout: layouts/meeting.njk
title: "May 8, 2017 \u2014 School Board Meeting \u2014 SPSD"
heading: May Regular Meeting
breadcrumb: May 8, 2017
display_date: May 8, 2017
day_of_week: Monday
meeting_tag: "Regular Meeting \xB7 May 2017"
time: 6:00 PM
location: South Portland High School Lecture Hall
has_video: false
video_url: ''
has_vtt_source: false
has_transcript: false
stub: true
board_attendance: []
docs:
- type: min
  label: Minutes  5.8.17
  url: https://drive.google.com/file/d/0B42s0chw8f_lc0c3THpLNzdXUDg/view?usp=drivesdk&resourcekey=0-Sb2NGM3hjfLw143kwVsmtw
- type: pdf
  label: New Staff for Board Approval 5.8.17
  url: https://drive.google.com/file/d/0B42s0chw8f_lUTJuR2lqN3A5Nms/view?usp=drivesdk&resourcekey=0-8UBrjtpArS8u_6v3OYm9XA
- type: agenda
  label: Revised Board Agenda  5.8.17
  url: https://drive.google.com/file/d/0B42s0chw8f_lLUFwSld5enFWZ28/view?usp=drivesdk&resourcekey=0-8RTObW6Wdz87g7UAsQA4HA
- type: pdf
  label: New Staff for Board Approval 5.8.17.doc
  url: https://docs.google.com/document/d/0B42s0chw8f_lOUtKbV9DTXh5NjA/edit?usp=drivesdk&ouid=102600287501528877491&resourcekey=0-sXTr_t_ZjwQll0EiujXFig&rtpof=true&sd=true
- type: agenda
  label: Board Agenda  5.8.17
  url: https://drive.google.com/file/d/0B42s0chw8f_lUGFFUmt6Ujh0LU0/view?usp=drivesdk&resourcekey=0-gZwG05bJi34_fzh9_noNcA
- type: agenda
  label: Draft  Board Agenda  5.8.17 (3).docx
  url: https://docs.google.com/document/d/0B42s0chw8f_lRDJ6X0JwUVlFbjA/edit?usp=drivesdk&ouid=102600287501528877491&resourcekey=0-OFYgW96A5yNK0jqM7fAoag&rtpof=true&sd=true
- type: agenda
  label: Board Agenda  5.8.17.docx
  url: https://docs.google.com/document/d/0B42s0chw8f_lNWJfUTVVZ3Q4eTQ/edit?usp=drivesdk&ouid=102600287501528877491&resourcekey=0-fAoXdi3XLC9JB5aQyy6HPA&rtpof=true&sd=true
---
