---
layout: layouts/meeting.njk
title: "February 27, 2017 \u2014 School Board Meeting \u2014 SPSD"
heading: February Regular Meeting
breadcrumb: Feb 27, 2017
display_date: February 27, 2017
day_of_week: Monday
meeting_tag: "Regular Meeting \xB7 February 2017"
time: 6:00 PM
location: South Portland High School Lecture Hall
has_video: false
video_url: ''
has_vtt_source: false
has_transcript: false
stub: true
board_attendance: []
docs:
- type: min
  label: Meeting Minutes  2.27.17
  url: https://drive.google.com/file/d/0B42s0chw8f_lRzBxUnVlZ2s1Zm8/view?usp=drivesdk&resourcekey=0-pUgbgG_ccyBA4UgP6pLZsw
- type: min
  label: Meeting Minutes  2.27.17
  url: https://drive.google.com/file/d/0B42s0chw8f_lQjRPbEZRZWNoZTA/view?usp=drivesdk&resourcekey=0-344lbrIUrD6w9ekwjCJgZQ
---
