---
layout: layouts/meeting.njk
title: "February 12, 2018 \u2014 School Board Meeting \u2014 SPSD"
heading: February Regular Meeting
breadcrumb: Feb 12, 2018
display_date: February 12, 2018
day_of_week: Monday
meeting_tag: "Regular Meeting \xB7 February 2018"
time: 6:00 PM
location: South Portland High School Lecture Hall
has_video: false
video_url: ''
has_vtt_source: false
has_transcript: false
stub: true
board_attendance: []
docs:
- type: agenda
  label: Revised Board Agenda 2.12.18
  url: https://drive.google.com/file/d/1efhXvwkNHYZkPCHnIKbPpNIVuDBGrPVK/view?usp=drivesdk
- type: packet
  label: Complete Board Packet 2.12.18
  url: https://drive.google.com/file/d/1t2RMbT2hO2BOPNYseqE_bbB2H1qmxy5k/view?usp=drivesdk
---
