---
layout: layouts/meeting.njk
title: "September 24, 2018 \u2014 School Board Meeting \u2014 SPSD"
heading: Board Workshop
breadcrumb: Sep 24, 2018
display_date: September 24, 2018
day_of_week: Monday
meeting_tag: "Workshop Meeting \xB7 September 2018"
time: 6:00 PM
location: South Portland High School Lecture Hall
has_video: false
video_url: ''
has_vtt_source: false
has_transcript: false
stub: true
board_attendance: []
docs:
- type: agenda
  label: Board Workshop Agenda 9.24.18kk
  url: https://drive.google.com/file/d/1JATYwzQvr7ibvPB6E7lq6AobfNwy2rky/view?usp=drivesdk
---
