---
layout: layouts/meeting.njk
title: "March 28, 2019 \u2014 School Board Meeting \u2014 SPSD"
heading: Special Meeting
breadcrumb: Mar 28, 2019
display_date: March 28, 2019
day_of_week: Thursday
meeting_tag: "Special Meeting \xB7 March 2019"
time: 6:00 PM
location: South Portland High School Lecture Hall
has_video: false
video_url: ''
has_vtt_source: false
has_transcript: false
stub: true
board_attendance: []
docs:
- type: agenda
  label: Board Special Meeting Agenda 3.28.19
  url: https://drive.google.com/file/d/1fym5isP3EsVNk2dRByiJdB21x1Xbmqgn/view?usp=drivesdk
- type: agenda
  label: Board Budget Workshop Agenda 3.28.19
  url: https://drive.google.com/file/d/1_zxmnGidIKslrcGPrMF-fEio_VONC8fi/view?usp=drivesdk
---
