---
layout: layouts/meeting.njk
title: "August 26, 2019 \u2014 School Board Meeting \u2014 SPSD"
heading: August Regular Meeting
breadcrumb: Aug 26, 2019
display_date: August 26, 2019
day_of_week: Monday
meeting_tag: "Regular Meeting \xB7 August 2019"
time: 6:00 PM
location: South Portland High School Lecture Hall
has_video: false
video_url: ''
has_vtt_source: false
has_transcript: false
stub: true
board_attendance: []
docs:
- type: packet
  label: Complete Board Packet 8.26.19
  url: https://drive.google.com/file/d/1y-bH5Rxq52GB-gxFlJ1UfhuNqpY-4cvL/view?usp=drivesdk
---
