---
layout: layouts/meeting.njk
title: "December 9, 2019 \u2014 School Board Meeting \u2014 SPSD"
heading: December Regular Meeting
breadcrumb: Dec 9, 2019
display_date: December 9, 2019
day_of_week: Monday
meeting_tag: "Regular Meeting \xB7 December 2019"
time: 6:00 PM
location: South Portland High School Lecture Hall
has_video: false
video_url: ''
has_vtt_source: false
has_transcript: false
stub: true
board_attendance: []
docs:
- type: packet
  label: Board Meeting Packet 12.9.19
  url: https://drive.google.com/file/d/1crqFLtlWuuFE7OMxTAkn7ysKd9nFh7w8/view?usp=drivesdk
---
