---
layout: layouts/meeting.njk
title: "October 14, 2020 \u2014 School Board Meeting \u2014 SPSD"
heading: October Regular Meeting
breadcrumb: Oct 14, 2020
display_date: October 14, 2020
day_of_week: Wednesday
meeting_tag: "Regular Meeting \xB7 October 2020"
time: 6:00 PM
location: South Portland High School Lecture Hall
has_video: false
video_url: ''
has_vtt_source: false
has_transcript: false
stub: true
board_attendance: []
docs:
- type: packet
  label: Board Meeting Packet 10.14.20
  url: https://drive.google.com/file/d/1g1YDUUCPXAZ3zZq0aMWNiX4jeL8V4bZ5/view?usp=drivesdk
---
