---
layout: layouts/meeting.njk
title: "November 9, 2020 \u2014 School Board Meeting \u2014 SPSD"
heading: November Regular Meeting
breadcrumb: Nov 9, 2020
display_date: November 9, 2020
day_of_week: Monday
meeting_tag: "Regular Meeting \xB7 November 2020"
time: 6:00 PM
location: South Portland High School Lecture Hall
has_video: false
video_url: ''
has_vtt_source: false
has_transcript: false
stub: true
board_attendance: []
docs:
- type: packet
  label: Board Packet 11.9.20
  url: https://drive.google.com/file/d/1qy2H8BP18wIbFaoc7DxJi4k5JkvD93Hk/view?usp=drivesdk
---
