---
layout: layouts/meeting.njk
title: "June 8, 2020 \u2014 School Board Meeting \u2014 SPSD"
heading: June Regular Meeting
breadcrumb: Jun 8, 2020
display_date: June 8, 2020
day_of_week: Monday
meeting_tag: "Regular Meeting \xB7 June 2020"
time: 6:00 PM
location: South Portland High School Lecture Hall
has_video: false
video_url: ''
has_vtt_source: false
has_transcript: false
stub: true
board_attendance: []
docs:
- type: min
  label: Minutes Regular Meeting. Revised 6.8.20 Virtual
  url: https://drive.google.com/file/d/1_z4qXcNql1qkMOCXz1BZyKTHZXym5ZC1/view?usp=drivesdk
- type: pdf
  label: Board of Education Meeting Virtual Meeting Instruction. Public  6.8.20
  url: https://drive.google.com/file/d/1weLx82go2jNt5dKGcov8uUvsg-f13Nd2/view?usp=drivesdk
- type: packet
  label: Board Packet 6.8.20
  url: https://drive.google.com/file/d/1tLNPTOjYxjDX_DP1Ypo1hA9SCC6s_T5h/view?usp=drivesdk
---
