---
layout: layouts/meeting.njk
title: "March 27, 2020 \u2014 School Board Meeting \u2014 SPSD"
heading: Special Meeting
breadcrumb: Mar 27, 2020
display_date: March 27, 2020
day_of_week: Friday
meeting_tag: "Special Meeting \xB7 March 2020"
time: 6:00 PM
location: South Portland High School Lecture Hall
has_video: false
video_url: ''
has_vtt_source: false
has_transcript: false
stub: true
board_attendance: []
docs:
- type: agenda
  label: SCHOOL BOARD  SPECIAL MEETING AGENDA 3.27.2023
  url: https://drive.google.com/file/d/1AN_A78cYLI7FU8MGfh4xsIOfS6YYml4q/view?usp=drivesdk
---
