---
layout: layouts/meeting.njk
title: "October 25, 2021 \u2014 School Board Meeting \u2014 SPSD"
heading: Board Workshop
breadcrumb: Oct 25, 2021
display_date: October 25, 2021
day_of_week: Monday
meeting_tag: "Workshop Meeting \xB7 October 2021"
time: 6:00 PM
location: South Portland High School Lecture Hall
has_video: false
video_url: ''
has_vtt_source: false
has_transcript: false
stub: true
board_attendance: []
docs:
- type: agenda
  label: Revised Board Workshop Agenda 10.25.21
  url: https://drive.google.com/file/d/1zJwjJ28PqV4cqGqfLQe_7et9Intr7mBB/view?usp=drivesdk
---
