---
layout: layouts/meeting.njk
title: "May 24, 2021 \u2014 School Board Meeting \u2014 SPSD"
heading: Special Meeting
breadcrumb: May 24, 2021
display_date: May 24, 2021
day_of_week: Monday
meeting_tag: "Special Meeting \xB7 May 2021"
time: 6:00 PM
location: South Portland High School Lecture Hall
has_video: false
video_url: ''
has_vtt_source: false
has_transcript: false
stub: true
board_attendance: []
docs:
- type: agenda
  label: Special Meeting Agenda 5.24.21
  url: https://drive.google.com/file/d/10XsUiXF0KLbzVLAWies87J3kzsLS9UxI/view?usp=drivesdk
---
