---
layout: layouts/meeting.njk
title: "July 26, 2021 \u2014 School Board Meeting \u2014 SPSD"
heading: July Regular Meeting
breadcrumb: Jul 26, 2021
display_date: July 26, 2021
day_of_week: Monday
meeting_tag: "Regular Meeting \xB7 July 2021"
time: 6:00 PM
location: South Portland High School Lecture Hall
has_video: false
video_url: ''
has_vtt_source: false
has_transcript: false
stub: true
board_attendance: []
docs:
- type: packet
  label: Special Meeting Packet 7.26.21
  url: https://drive.google.com/file/d/15ePpy_IhWl5IB1eUXRkMIlWFk1v-UaXs/view?usp=drivesdk
---
