---
layout: layouts/meeting.njk
title: "June 29, 2021 \u2014 School Board Meeting \u2014 SPSD"
heading: Special Meeting
breadcrumb: Jun 29, 2021
display_date: June 29, 2021
day_of_week: Tuesday
meeting_tag: "Special Meeting \xB7 June 2021"
time: 6:00 PM
location: South Portland High School Lecture Hall
has_video: false
video_url: ''
has_vtt_source: false
has_transcript: false
stub: true
board_attendance: []
docs:
- type: agenda
  label: Revised Special Meeting Agenda 6.29.21-F
  url: https://drive.google.com/file/d/1aAweV7O6oFxuR3QkleSvzDdcwzA1kkH9/view?usp=drivesdk
---
