---
layout: layouts/meeting.njk
title: "February 10, 2021 \u2014 School Board Meeting \u2014 SPSD"
heading: February Regular Meeting
breadcrumb: Feb 10, 2021
display_date: February 10, 2021
day_of_week: Wednesday
meeting_tag: "Regular Meeting \xB7 February 2021"
time: 6:00 PM
location: South Portland High School Lecture Hall
has_video: false
video_url: ''
has_vtt_source: false
has_transcript: false
stub: true
board_attendance: []
docs:
- type: packet
  label: Revised Board Meeting Packet 2.10.21
  url: https://drive.google.com/file/d/1Fib_ri9DujZ61G1sY_2QqMXXcITtJIFV/view?usp=drivesdk
- type: agenda
  label: Revised Board Agenda 2.10.21
  url: https://drive.google.com/file/d/1VL3b0xPUCpR5tiJYlAY1OdotgZA5Q9UG/view?usp=drivesdk
- type: pdf
  label: Public Meeting Link  2.10.21
  url: https://drive.google.com/file/d/1_mK4oD3i37v3pjMJ_4PBRL35NWfoeoHp/view?usp=drivesdk
- type: packet
  label: Board Meeting Packet 2.10.21
  url: https://drive.google.com/file/d/1W7P9XWhaSMevz-9Zsq0xt2c3-iejY_Wy/view?usp=drivesdk
---
