---
layout: layouts/meeting.njk
title: "April 8, 2021 \u2014 School Board Meeting \u2014 SPSD"
heading: Special Meeting
breadcrumb: Apr 8, 2021
display_date: April 8, 2021
day_of_week: Thursday
meeting_tag: "Special Meeting \xB7 April 2021"
time: 6:00 PM
location: South Portland High School Lecture Hall
has_video: false
video_url: ''
has_vtt_source: false
has_transcript: false
stub: true
board_attendance: []
docs:
- type: agenda
  label: Special Meeting Agenda 4.8.21
  url: https://drive.google.com/file/d/1js_4OK09jUp_415WROlzdffBoN6FGW_D/view?usp=drivesdk
---
