---
layout: layouts/meeting.njk
title: "April 1, 2021 \u2014 School Board Meeting \u2014 SPSD"
heading: Special Meeting
breadcrumb: Apr 1, 2021
display_date: April 1, 2021
day_of_week: Thursday
meeting_tag: "Special Meeting \xB7 April 2021"
time: 6:00 PM
location: South Portland High School Lecture Hall
has_video: false
video_url: ''
has_vtt_source: false
has_transcript: false
stub: true
board_attendance: []
docs:
- type: agenda
  label: Board Workshop and Special Meeting Agenda 4.1.21
  url: https://drive.google.com/file/d/19vkSv5X_Lgu5RYIkxwxQRWPfYU9G_axV/view?usp=drivesdk
- type: agenda
  label: Board Workshop Agenda 4.1.21
  url: https://drive.google.com/file/d/1BdJwli_e28QHXnbAhMIgQm0zvse40c8b/view?usp=drivesdk
---
