---
layout: layouts/meeting.njk
title: "February 11, 2021 \u2014 School Board Meeting \u2014 SPSD"
heading: Board Workshop
breadcrumb: Feb 11, 2021
display_date: February 11, 2021
day_of_week: Thursday
meeting_tag: "Workshop Meeting \xB7 February 2021"
time: 6:00 PM
location: South Portland High School Lecture Hall
has_video: false
video_url: ''
has_vtt_source: false
has_transcript: false
stub: true
board_attendance: []
docs:
- type: pdf
  label: Virtual Access Link Board Workshop 2.11.21
  url: https://drive.google.com/file/d/1mW8gp3UfXY-qazN82MDA8TcZbApO23EK/view?usp=drivesdk
- type: agenda
  label: Board Workshop Agenda 2.11.21
  url: https://drive.google.com/file/d/1yLeXfTzoAnPnPR-IA2fn-yFkmFubFH61/view?usp=drivesdk
---
