---
layout: layouts/meeting.njk
title: "September 13, 2021 \u2014 School Board Meeting \u2014 SPSD"
heading: September Regular Meeting
breadcrumb: Sep 13, 2021
display_date: September 13, 2021
day_of_week: Monday
meeting_tag: "Regular Meeting \xB7 September 2021"
time: 6:00 PM
location: South Portland High School Lecture Hall
has_video: false
video_url: ''
has_vtt_source: false
has_transcript: false
stub: true
board_attendance: []
docs:
- type: packet
  label: Revised School Board Packet 9.13.21
  url: https://drive.google.com/file/d/1L6bR-g-PirCmPdm9skeXGiBJikNH5paq/view?usp=drivesdk
---
