---
layout: layouts/meeting.njk
title: "June 14, 2021 \u2014 School Board Meeting \u2014 SPSD"
heading: June Regular Meeting
breadcrumb: Jun 14, 2021
display_date: June 14, 2021
day_of_week: Monday
meeting_tag: "Regular Meeting \xB7 June 2021"
time: 6:00 PM
location: South Portland High School Lecture Hall
has_video: false
video_url: ''
has_vtt_source: false
has_transcript: false
stub: true
board_attendance: []
docs:
- type: agenda
  label: Revised Agenda Packet 6.14.21
  url: https://drive.google.com/file/d/1aJy7fBEVL-HtgD3Q7XM1GzqNJCib9VUl/view?usp=drivesdk
---
