---
layout: layouts/meeting.njk
title: "September 12, 2022 \u2014 School Board Meeting \u2014 SPSD"
heading: September Regular Meeting
breadcrumb: Sep 12, 2022
display_date: September 12, 2022
day_of_week: Monday
meeting_tag: "Regular Meeting \xB7 September 2022"
time: 6:00 PM
location: South Portland High School Lecture Hall
has_video: false
video_url: ''
has_vtt_source: false
has_transcript: false
stub: true
board_attendance: []
docs:
- type: packet
  label: Revised Board Meeting Packet 9.12.22
  url: https://drive.google.com/file/d/18sxjT4cGDzO0dDIHmLw4r2_2RozJSzyY/view?usp=drivesdk
- type: packet
  label: Board Meeting Packet 9.12.22
  url: https://drive.google.com/file/d/1_Z0g9FVfH4CN3GOR-5DCCUhleUUNPiTw/view?usp=drivesdk
---
