---
layout: layouts/meeting.njk
title: "July 20, 2022 \u2014 School Board Meeting \u2014 SPSD"
heading: July Regular Meeting
breadcrumb: Jul 20, 2022
display_date: July 20, 2022
day_of_week: Wednesday
meeting_tag: "Regular Meeting \xB7 July 2022"
time: 6:00 PM
location: South Portland High School Lecture Hall
has_video: false
video_url: ''
has_vtt_source: false
has_transcript: false
stub: true
board_attendance: []
docs:
- type: packet
  label: Revised Special Meeting Packet 7.20.22
  url: https://drive.google.com/file/d/1QYpsovU_N_AQkV9qzRnH2qdcMWBIG0vH/view?usp=drivesdk
- type: packet
  label: Special Meeting Packet 7.20.22
  url: https://drive.google.com/file/d/1AZWwpFcizTPwhxaA-Phi4VNHZj1lB9M5/view?usp=drivesdk
---
