---
layout: layouts/meeting.njk
title: "August 22, 2022 \u2014 School Board Meeting \u2014 SPSD"
heading: August Regular Meeting
breadcrumb: Aug 22, 2022
display_date: August 22, 2022
day_of_week: Monday
meeting_tag: "Regular Meeting \xB7 August 2022"
time: 6:00 PM
location: South Portland High School Lecture Hall
has_video: false
video_url: ''
has_vtt_source: false
has_transcript: false
stub: true
board_attendance: []
docs:
- type: packet
  label: Revised School Board Meeting Packet 8.22.22
  url: https://drive.google.com/file/d/11gNs_RkIy8H0MP6nVB14WJE7I0EsX9A3/view?usp=drivesdk
---
