---
layout: layouts/meeting.njk
title: "January 24, 2022 \u2014 School Board Meeting \u2014 SPSD"
heading: Board Workshop
breadcrumb: Jan 24, 2022
display_date: January 24, 2022
day_of_week: Monday
meeting_tag: "Workshop Meeting \xB7 January 2022"
time: 6:00 PM
location: South Portland High School Lecture Hall
has_video: false
video_url: ''
has_vtt_source: false
has_transcript: false
stub: true
board_attendance: []
docs:
- type: pdf
  label: State of the Schools 1.24.22 for sharing
  url: https://drive.google.com/file/d/1GHwBLrm15iBmntXkTWp8feka-dTyESTe/view?usp=drivesdk
- type: agenda
  label: Board Workshop Agenda 1.24.22
  url: https://drive.google.com/file/d/16mChzxDpZ2aYjtqXmAuyVlzpSO44vluj/view?usp=drivesdk
---
