---
layout: layouts/meeting.njk
title: "March 27, 2023 \u2014 School Board Meeting \u2014 SPSD"
heading: Board Workshop
breadcrumb: Mar 27, 2023
display_date: March 27, 2023
day_of_week: Monday
meeting_tag: "Workshop Meeting \xB7 March 2023"
time: 6:00 PM
location: South Portland High School Lecture Hall
has_video: false
video_url: ''
has_vtt_source: false
has_transcript: false
stub: true
board_attendance: []
docs:
- type: pdf
  label: Technoology 3.27.23
  url: https://drive.google.com/file/d/1LQ-rMzspVGDPuaQW_iLve-zm2lqWfK2e/view?usp=drivesdk
- type: pdf
  label: Budget Updates, 3.27.23
  url: https://drive.google.com/file/d/1AXBHcsDWUPUpopdwoUizWcAa7QP2azxB/view?usp=drivesdk
- type: agenda
  label: SCHOOL BOARD  BUDGET WORKSHOP AGENDA  3.27.23
  url: https://drive.google.com/file/d/1QFzUQKCR1xsPX81TIApeGcIW6pFx3e-Y/view?usp=drivesdk
---
