---
layout: layouts/meeting.njk
title: "January 9, 2023 \u2014 School Board Meeting \u2014 SPSD"
heading: January Regular Meeting
breadcrumb: Jan 9, 2023
display_date: January 9, 2023
day_of_week: Monday
meeting_tag: "Regular Meeting \xB7 January 2023"
time: 6:00 PM
location: South Portland High School Lecture Hall
has_video: false
video_url: ''
has_vtt_source: false
has_transcript: false
stub: true
board_attendance: []
docs:
- type: packet
  label: Revised Board Packet 1.9.23
  url: https://drive.google.com/file/d/1p8tp4JaTgKZ85qDcljDEfzJghqhgqarT/view?usp=drivesdk
- type: packet
  label: Board Packet 1.9.23
  url: https://docs.google.com/document/d/1piY1PfT89G2BfZ8Z1OvxWu232yprTpO2vAYp25-c6Yo/edit?usp=drivesdk
- type: packet
  label: Board Packet 1.9.23
  url: https://drive.google.com/file/d/1kQFKfApuCo_d748YIYS4qT2mPPlfXwok/view?usp=drivesdk
---
