---
layout: layouts/meeting.njk
title: "March 13, 2023 \u2014 School Board Meeting \u2014 SPSD"
heading: March Regular Meeting
breadcrumb: Mar 13, 2023
display_date: March 13, 2023
day_of_week: Monday
meeting_tag: "Regular Meeting \xB7 March 2023"
time: 6:00 PM
location: South Portland High School Lecture Hall
has_video: false
video_url: ''
has_vtt_source: false
has_transcript: false
stub: true
board_attendance: []
docs:
- type: packet
  label: Board Packet 3.13.23
  url: https://drive.google.com/file/d/1JiyKBL6j7OkjosNoGG2av-q2eASY1ina/view?usp=drivesdk
---
