---
layout: layouts/meeting.njk
title: "May 8, 2023 \u2014 School Board Meeting \u2014 SPSD"
heading: May Regular Meeting
breadcrumb: May 8, 2023
display_date: May 8, 2023
day_of_week: Monday
meeting_tag: "Regular Meeting \xB7 May 2023"
time: 6:00 PM
location: South Portland High School Lecture Hall
has_video: false
video_url: ''
has_vtt_source: false
has_transcript: false
stub: true
board_attendance: []
docs:
- type: packet
  label: Revised Board Meeting Packet 5.8.23
  url: https://drive.google.com/file/d/1P9gapv8m7i6yw_h6Q77RFrI_-q-n9SYh/view?usp=drivesdk
---
