---
layout: layouts/meeting.njk
title: "December 1, 2025 \u2014 School Board Meeting \u2014 SPSD"
heading: December Regular Meeting
breadcrumb: Dec 1, 2025
display_date: December 1, 2025
day_of_week: Monday
meeting_tag: "Regular Meeting \xB7 December 2025"
time: 6:00 PM
location: South Portland High School Lecture Hall
has_video: false
video_url: ''
has_vtt_source: false
has_transcript: false
stub: true
board_attendance: []
docs:
- type: agenda
  label: 12.01.25 Inauguration Agenda
  url: https://drive.google.com/file/d/1tuy6QMzBGCXowlyLd6TNQtBqfdED7d2D/view?usp=drivesdk
- type: min
  label: 12.01.25 Board Inauguration Meeting Minutes
  url: https://drive.google.com/file/d/1xBim8h3lFdiLLgKw8A9igc5XrqdNTfqp/view?usp=drivesdk
---
