---
layout: layouts/meeting.njk
title: April 8, 2026 — School Board Meeting — SPSD
heading: Executive Session
breadcrumb: Apr 8, 2026
display_date: April 8, 2026
day_of_week: Wednesday
meeting_tag: Exec. Session Meeting · April 2026
time: 6:00 PM
location: South Portland High School Lecture Hall
has_video: false
has_vtt_source: false
has_transcript: false
stub: true
docs:
- type: agenda
  label: Executive Session Agenda
  url: https://drive.google.com/file/d/1hFQEOaTXebCEs6dIqFKJuIMZ5Bqx5i7J/view?usp=sharing
- type: pdf
  label: Executive Session Summar
  url: https://drive.google.com/file/d/1GfmwKg6C-cWLiJzov1fJ_-rJBMuHblNW/view?usp=drive_link
- type: pdf
  label: Boulos Donation letter & check
  url: https://drive.google.com/file/d/13U3irg6EFKeg6a2PUaFuf6DNhLQdRIBg/view
board_attendance:
- name: Rosemarie DeAngelis
  status: Present
  role: Board
- name: Tyler Smith
  status: Present
  role: Board
- name: Daniel Feller
  status: Present
  role: Board
- name: Claire Holman
  status: Present
  role: Board
- name: Eleni Richardson
  status: Present
  role: Board
- name: George Risch
  status: Present
  role: Board
- name: Angela Kabisa
  status: Present
  role: Student Rep
- name: Alex Davison
  status: Present
  role: Student Rep
---
