---
layout: layouts/meeting.njk
title: April 27, 2026 — School Board Meeting — SPSD
heading: Executive Session
breadcrumb: Apr 27, 2026
display_date: April 27, 2026
day_of_week: Monday
meeting_tag: Exec. Session Meeting · April 2026
time: 6:00 PM
location: South Portland High School Lecture Hall
has_video: false
has_vtt_source: false
has_transcript: false
stub: true
docs:
- label: Executive Session Agenda
  url: https://drive.google.com/file/d/1A-miKwR6DcBCGUK0_njW5wIA7jxhT-Ga/view?usp=sharing
  type: agenda
  file_type: PDF
- type: minutes
  label: Executive Session Meeting Minutes
  url: https://drive.google.com/file/d/1CVHw8O4LJEvHtHCQHcXLIjS4_A7m5-kk/view
  file_type: PDF
board_attendance:
- name: Rosemarie DeAngelis
  status: Present
  role: Board
- name: Tyler Smith
  status: Present
  role: Board
- name: Daniel Feller
  status: Present
  role: Board
- name: Claire Holman
  status: Present
  role: Board
- name: Eleni Richardson
  status: Present
  role: Board
- name: George Risch
  status: Present
  role: Board
- name: Angela Kabisa
  status: Present
  role: Student Rep
- name: Alex Davison
  status: Present
  role: Student Rep
---
