---
layout: layouts/meeting.njk
title: "January 6, 2026 \u2014 School Board Meeting \u2014 SPSD"
heading: January Regular Meeting
breadcrumb: Jan 6, 2026
display_date: January 6, 2026
day_of_week: Tuesday
meeting_tag: "Regular Meeting \xB7 January 2026"
time: 6:00 PM
location: South Portland High School Lecture Hall
has_video: false
video_url: ''
has_vtt_source: false
has_transcript: false
stub: true
board_attendance: []
docs:
- type: pdf
  label: SPHS Unified Donation 1.6.26
  url: https://drive.google.com/file/d/1ZsyZ46FHyWehcyWYj1dgNDMQtod-oVCM/view?usp=drivesdk
---
